In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
from config import weather_api_key
from datetime import datetime
import time
from citipy import citipy

In [13]:
lats = np.random.uniform(-90,90, size=50)
lngs = np.random.uniform(-180,180, size=50)
lat_lngs = zip(lats,lngs)
coordinates = list(lat_lngs)
cities = []
city_data = []
url = f"http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID={weather_api_key}"
set_count = 1
record_count = 1

In [14]:
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
print(len(cities))

47

In [15]:
print("Beginning Data Retrieval     ")
print("-----------------------------")


for i, city in enumerate(cities):
    try:
        if (i % 50 == 0 and i >= 50):
            set_count +=1
            record_count +=1
            time.sleep(60)
        city_url = url+"&q="+city.replace(" ","+")
        print(f"Processing Record {record_count} of Set {set_count} | {city}")
        record_count +=1     
            # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
            # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
            # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
            # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                            "Lat": city_lat,
                            "Lng": city_lng,
                            "Max Temp": city_max_temp,
                            "Humidity": city_humidity,
                            "Cloudiness": city_clouds,
                            "Wind Speed": city_wind,
                            "Country": city_country,
                            "Date": city_date
                            }
                        )

    # If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass
    
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | new norfolk
Processing Record 2 of Set 1 | saskylakh
Processing Record 3 of Set 1 | beloha
Processing Record 4 of Set 1 | srednekolymsk
Processing Record 5 of Set 1 | mataura
Processing Record 6 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 7 of Set 1 | quelimane
Processing Record 8 of Set 1 | tongren
Processing Record 9 of Set 1 | hobart
Processing Record 10 of Set 1 | yellowknife
Processing Record 11 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 12 of Set 1 | hilo
Processing Record 13 of Set 1 | klaksvik
Processing Record 14 of Set 1 | rikitea
Processing Record 15 of Set 1 | arraial do cabo
Processing Record 16 of Set 1 | havre-saint-pierre
Processing Record 17 of Set 1 | guerrero negro
Processing Record 18 of Set 1 | avarua
Processing Record 19 of Set 1 | sakaiminato
Processing Record 20 of Set 1 | severo-kurilsk
Processing Record 21 of Set 1 | ushuaia
Processing Record 22 of Set 1 | vaini
Processing Record 23 of Set 1 | tasiilaq
Processing Record 24 of Set 1 | songjianghe
Processing Record 25 of Set 1 | codrington
Processing Record 26 of Set 1 | atuona
Processing Record 27 of Set 1 | ilulissat
Processing Record 28 of Set 1 | castro
Processing Record 29 of Set 1 | chuy
Processing Record 30 of Set 1 | vila franca do campo
Processing Record 31 of Set 1 | qaanaaq
Processing Record 32 of Set 1 | tshikapa
Processing Record 33 of Set 1 | albany
Processing Record 34 of Set 1 | saint george
Processing Record 35 of Set 1 | bredasdorp
Processing Record 36 of Set 1 | georgetown
Processing Record 37 of Set 1 | mount gambier
Processing Record 38 of Set 1 | altay
Processing Record 39 of Set 1 | busselton
Processing Record 40 of Set 1 | bengkulu
Processing Record 41 of Set 1 | calvinia
Processing Record 42 of Set 1 | hay river
Processing Record 43 of Set 1 | strezhevoy
Processing Record 44 of Set 1 | ponta do sol
Processing Record 45 of Set 1 | port shepstone
Processing Record 46 of Set 1 | khatanga
Processing Record 47 of Set 1 | nacala
-----------------------------
Data Retrieval Complete
-----------------------------

In [18]:
city_data_df = pd.DataFrame(city_data)
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,New Norfolk,-42.7826,147.0587,62.10,60,100,3.00,AU,2022-10-11 23:31:22
1,Saskylakh,71.9167,114.0833,26.37,97,99,5.97,RU,2022-10-11 23:31:22
2,Beloha,-25.1667,45.0500,66.33,86,0,8.88,MG,2022-10-11 23:31:23
3,Srednekolymsk,67.4500,153.6833,19.42,66,19,4.47,RU,2022-10-11 23:31:24
4,Mataura,-46.1927,168.8643,54.61,43,65,2.44,NZ,2022-10-11 23:26:22

In [19]:
new_order = ['City','Country','Date','Lat','Lng',"Max Temp",'Humidity','Cloudiness',"Wind Speed"]
city_df = city_data_df[new_order]
city_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,New Norfolk,AU,2022-10-11 23:31:22,-42.7826,147.0587,62.10,60,100,3.00
1,Saskylakh,RU,2022-10-11 23:31:22,71.9167,114.0833,26.37,97,99,5.97
2,Beloha,MG,2022-10-11 23:31:23,-25.1667,45.0500,66.33,86,0,8.88
3,Srednekolymsk,RU,2022-10-11 23:31:24,67.4500,153.6833,19.42,66,19,4.47
4,Mataura,NZ,2022-10-11 23:26:22,-46.1927,168.8643,54.61,43,65,2.44
5,Quelimane,MZ,2022-10-11 23:31:25,-17.8786,36.8883,67.95,100,0,3.44
6,Tongren,CN,2022-10-11 23:31:25,27.7172,109.1853,57.04,31,19,2.66
7,Hobart,AU,2022-10-11 23:31:26,-42.8794,147.3294,62.46,71,100,8.05
8,Yellowknife,CA,2022-10-11 23:31:26,62.4560,-114.3525,32.52,93,100,19.57
9,Hilo,US,2022-10-11 23:31:27,19.7297,-155.0900,87.53,71,20,10.36
10,Klaksvik,FO,2022-10-11 23:31:28,62.2266,-6.5890,50.92,98,100,16.40
11,Rikitea,PF,2022-10-11 23:26:12,-23.1203,-134.9692,70.59,78,91,11.10
12,Arraial Do Cabo,BR,2022-10-11 23:31:28,-22.9661,-42.0278,71.60,86,44,28.68
13,Havre-Saint-Pierre,CA,2022-10-11 23:31:29,50.2334,-63.5986,44.96,76,100,17.27
14,Guerrero Negro,MX,2022-10-11 23:29:19,27.9769,-114.0611,73.51,69,19,15.64
15,Avarua,CK,2022-10-11 23:31:30,-21.2078,-159.7750,80.65,74,75,21.85
16,Sakaiminato,JP,2022-10-11 23:31:30,35.5500,133.2333,57.18,94,75,3.44
17,Severo-Kurilsk,RU,2022-10-11 23:31:31,50.6789,156.1250,51.19,84,73,21.41
18,Ushuaia,AR,2022-10-11 23:29:52,-54.8000,-68.3000,38.86,87,40,5.75
19,Vaini,TO,2022-10-11 23:26:11,-21.2000,-175.2000,78.96,78,40,13.80
20,Tasiilaq,GL,2022-10-11 23:31:32,65.6145,-37.6368,32.16,97,100,3.36
21,Songjianghe,CN,2022-10-11 23:31:33,42.1859,127.4790,43.99,56,0,4.41
22,Codrington,AU,2022-10-11 23:31:33,-38.2667,141.9667,64.67,68,100,11.45
23,Atuona,PF,2022-10-11 23:31:34,-9.8000,-139.0333,77.40,72,26,14.03
24,Ilulissat,GL,2022-10-11 23:31:35,69.2167,-51.1000,20.39,81,100,3.71
25,Castro,BR,2022-10-11 23:31:36,-24.7911,-50.0119,60.89,94,87,1.45
26,Chuy,UY,2022-10-11 23:31:36,-33.6971,-53.4616,56.35,96,100,10.92
27,Vila Franca Do Campo,PT,2022-10-11 23:31:37,37.7167,-25.4333,71.20,82,8,2.13
28,Qaanaaq,GL,2022-10-11 23:31:37,77.4840,-69.3632,5.07,62,42,7.38
29,Tshikapa,CD,2022-10-11 23:31:38,-6.4167,20.8000,71.67,82,98,1.66
30,Albany,US,2022-10-11 23:29:40,42.6001,-73.9662,56.34,80,2,4.12
31,Saint George,US,2022-10-11 23:29:21,37.1041,-113.5841,86.95,17,0,12.66
32,Bredasdorp,ZA,2022-10-11 23:31:39,-34.5322,20.0403,57.54,97,99,1.57
33,Georgetown,MY,2022-10-11 23:31:40,5.4112,100.3354,80.24,89,40,3.44
34,Mount Gambier,AU,2022-10-11 23:31:39,-37.8333,140.7667,58.33,65,100,9.37
35,Altay,CN,2022-10-11 23:31:40,47.8667,88.1167,34.77,66,9,3.49
36,Busselton,AU,2022-10-11 23:30:52,-33.6500,115.3333,53.82,62,98,10.13
37,Bengkulu,ID,2022-10-11 23:31:41,-3.8004,102.2655,75.24,84,95,2.01
38,Calvinia,ZA,2022-10-11 23:31:42,-31.4707,19.7760,65.73,37,100,1.83
39,Hay River,CA,2022-10-11 23:31:42,60.8156,-115.7999,37.38,70,75,33.38
40,Strezhevoy,RU,2022-10-11 23:31:43,60.7333,77.5889,36.64,89,90,8.79
41,Ponta Do Sol,PT,2022-10-11 23:31:43,32.6667,-17.1000,70.43,56,3,7.07
42,Port Shepstone,ZA,2022-10-11 23:31:44,-30.7414,30.4550,70.16,77,62,17.02
43,Khatanga,RU,2022-10-11 23:31:44,71.9667,102.5000,27.59,95,100,4.23
44,Nacala,MZ,2022-10-11 23:31:45,-14.5428,40.6728,69.64,95,0,3.87

Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
 Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")